bin/thread_pool/*
bin/commons/*
bin/server/*
bin/test/*
bin/http/*

!bin/thread_pool/.gitinclude
!bin/commons/.gitinclude
!bin/server/.gitinclude
!bin/test/.gitinclude
!bin/http/.gitinclude
!bin/.gitinclude

cmake-build-debug/*
.idea/*

.ycm_extra_conf.py
CMakeLists.txt
test_req.txt

run_test
myhttpd
